DATABASE_URL=
PORT=
RPC_URL=
GRAPHQL_ENDPOINT=
CHAIN_ID=
JWT_SECRET=
JWT_EXPIRY_DAYS=
JWT_ISSUER=

INDEXER_PROVIDER=direct
INDEXER_INTERVAL=0
GRAPHQL_INDEXER_BATCH_SIZE=1000

PRIMARY_CONTRACT_ADDRESS=
MAX_BATCH_STEPS=
MAX_ROUND_RETRIES=
BATCH_SIZE=
RETRY_DELAY_SEC=
START_BLOCK=
